body {
  color: rgb(255,255,255);
  background: rgb(0,0,0);
}

#hero {
  width: 100%;
  height: 100vh;
  background: url("../../assets/img/hero-mobile.jpg") center / cover no-repeat;
}

@media (min-width: 768px) {
  #hero {
    background: url("../../assets/img/hero.jpg") center / cover no-repeat;
  }
}

.navbar-brand {
  background: url("../../assets/img/logo.svg") center / 80% no-repeat;
  width: 150px;
  height: 40px;
}

#hero ul {
  text-transform: uppercase;
}

.nav-link {
  color: #222;
}

#title {
  font-family: Montserrat, sans-serif;
  font-weight: 300;
  font-size: 32px;
}

#subtitle {
  text-align: center;
  font-family: Montserrat, sans-serif;
  height: 40px;
  font-weight: bold;
}

.p-top {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 0;
}

.p-bottom {
  font-size: 13px;
}

.reserve-button {
  width: 100%;
  background: rgba(10,88,202,0);
  border-radius: 30px;
  border-color: #ffffff;
}

.arrow-button {
  width: 100%;
  color: #ffffff;
  border-bottom-style: none;
  border-radius: 0px;
}

#hero-bottom .container {
  max-width: 700px;
  text-align: center;
}

.with-borders {
  border: 1px solid rgba(255,255,255,0.23) ;
  border-top-style: none;
  border-bottom-style: none;
}

#video-and-stats {
  text-align: center;
}

#video-and-stats iframe {
  width: 90%;
  height: 400px;
}

@media (min-width: 992px) {
  #video-and-stats iframe {
    width: 900px;
    height: 500px;
  }
}

@media (min-width: 768px) {
  #stats {
    width: 600px;
    margin: 0 auto;
    color: rgb(255,255,255);
    margin-bottom: 250px;
    font-size: 15px;
  }
}

#stats {
  width: 90%;
  margin: 0 auto;
  color: rgb(255,255,255);
  margin-bottom: 150px;
  font-size: 15px;
}

tr {
}

#stats .col-left {
  padding-left: 0;
}

#stats .col-right {
  padding-right: 0;
}

#aero {
  width: 100%;
  height: 100vh;
  background: url("../../assets/img/back.jpg") center / cover no-repeat;
}

#aero .container {
  margin-top: 300px;
}

@media (min-width: 576px) {
  #interior .figure {
    max-width: 90%;
  }
}

#interior .figure {
  max-width: 70%;
}

#interior .figure-caption {
  font-size: .875em;
  color: #ffffff;
}

#caption-title {
  margin-right: 20px;
  font-size: 20px;
}

#interior {
  width: 100%;
  height: 40vh;
}

@media (min-width: 768px) {
  #interior {
    width: 100%;
    height: 100vh;
  }
}

#topview {
  width: 100%;
  height: 120vh;
  background: url("../../assets/img/top.jpg") center / cover no-repeat;
}

#topview .container {
  margin-bottom: 150px;
}

